GROQ_API_KEY=apni_groq_api_key
JWT_SECRET=Neurix.ai-my-super-secret-jwt-key-2026-786
DATABASE_URL=postgresql://neondb_owner:npg_Rr5dxX2HiSOh@ep-plain-dew-atkgfw0a.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require
CLIENT_ORIGIN=https://your-vercel-app.vercel.app
PORT=4000
